### This script loads the observed streamflow data for the Colorado River Basin from the Bureau of Reclamation in order to retrieve our gauges of interest for our study. 
Using the Current natural flow data 1906 - 2020 found on their [website](https://www.usbr.gov/lc/region/g4000/NaturalFlow/current.html). Selecting the gauges of interest, we can write a .csv file for our mutli-station analysis.

In [99]:
import pandas as pd 
#loading the data and getting rid of the first row and the natrual flow model row 
data_df = pd.read_excel('./NaturalFlows1906-2019_20210420.xlsx', sheet_name=['AnnualWYTotalNaturalFlow'], skiprows=[0,1,4])

In [100]:
annual_flow_df = data_df.get('AnnualWYTotalNaturalFlow')

In [101]:
#drop the columns that are unnessary
annual_flow_df = annual_flow_df.drop(columns=["Unnamed: 0", "Unnamed: 1", "Unnamed: 23"])

In [102]:
#we have NAN values we want to get rid of
annual_flow_df.tail()

,Corresponding USGS gauge number,09072500,09095500,09109000,09124700,09127800,09152500,09180000,09180500,09211200,...,09380000,09382000,09402000,09402500,09415000,09421500,09423000,09426000,09427520,09429490
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
#get rid of all rows or columns that contain NAN
annual_flow_df = annual_flow_df.dropna(axis=0, how='any')

In [104]:
annual_flow_df.tail()

,Corresponding USGS gauge number,09072500,09095500,09109000,09124700,09127800,09152500,09180000,09180500,09211200,...,09380000,09382000,09402000,09402500,09415000,09421500,09423000,09426000,09427520,09429490
114,2018,1528744,2309420,88225,487628,588021,1168611,277764,3763328,1547353,...,8478082,13630,41973,8837567,87217,9011246,9080595,46012,9303036,9071560
115,2019,2498397,4212868,191538,1391007,1663447,3049514,1145949,8478521,1220695,...,17750093,22606,134472,18267460,292480,18597292,18343573,15911,18869536,18764794
117,1906-2019 average,2121826.789474,3566223.052632,152016.605263,1086596.973684,1295233.035088,2325114.04386,804927.552632,6752286.140351,1322276.701754,...,14779214.157895,20865.833333,169936.649123,15148035.254386,170375.438596,15620506.122807,15800955.070175,92844.342105,15970859.166667,16048996.614035
119,Diff 2018 NF,3470.523987,5860.574755,349.941546,2646.079879,3210.716504,7133.964214,3017.933163,15366.662475,-898.961962,...,20278.821612,41.674041,-238.996895,20928.705713,443.518243,20602.565285,16888.556901,-692.595948,19914.131268,18115.976867
120,% Diff 2018 NF,0.001636,0.001643,0.002302,0.002435,0.002479,0.003068,0.003749,0.002276,-0.00068,...,0.001372,0.001997,-0.001406,0.001382,0.002603,0.001319,0.001069,-0.00746,0.001247,0.001129

In [105]:
#make list of the years that are contained in the dataset 
water_year_list=list(annual_flow_df.iloc[:, 0]) 
#returns list of values in the first column (ie. years) 
print(water_year_list)

['USGS gauge name', 'Water Year', 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, '1906-2019 average', 'Diff 2018 NF', '% Diff 2018 NF']

In [107]:
#return index of the rows that has the last year (ie. 2019)
end_year_i = water_year_list.index(2019)
print(end_year_i)

115

In [108]:
#get rid of rows that are not a year
annual_flow_df = annual_flow_df.iloc[:end_year_i+1,:]

In [109]:
annual_flow_df.head()

,Corresponding USGS gauge number,09072500,09095500,09109000,09124700,09127800,09152500,09180000,09180500,09211200,...,09380000,09382000,09402000,09402500,09415000,09421500,09423000,09426000,09427520,09429490
0,USGS gauge name,"Colorado River At Glenwood Springs, CO","Colorado River Near Cameo, CO","Taylor River Below Taylor Park Reservoir, CO","Gunnision River Above Blue Mesa Reservoir,CO","Gunnison River At Crystal Reservoir,CO","Gunnison River Near Grand Junction, CO","Dolores River Near Cisco, UT",Colorado River Near Cisco UT,Green R Bel Fontenelle Res WY,...,"Colorado R At Lees Ferry, AZ","Paria R At Lees Ferry, AZ","Little Colorado River Near Cameron, AZ","Colorado River Near Grand Canyon, AZ","Virgin River At Littlefield, AZ","Colorado River Below Hoover Dam, AZ-NV","Colorado River Below Davis Dam, AZ-NV","Bill Williams River Below Alamo Dam, AZ","Colorado River Below Parker Dam, AZ-CA","Colorado River Above Imperial Dam, AZ"
1,Water Year,(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),...,(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr)
2,1906,2704899,4419834,191485,1437928,1673928,2786168,646693,8042414,1492200,...,18214678,27871,250614,18492643,116972,18910454,18826772,18819,19130690,19326617
3,1907,3105421,4840024,223303,1706128,1960128,2888906,669219,8551631,2007000,...,21234305,13996,441651,21972208,113088,22150677,22165670,81416,22510793,22779051
4,1908,1705109,2918777,155516,965528,1115028,1662635,393988,5191180,1164600,...,11773952,25866,102562,12185814,128649,12546333,12698135,126250,12994129,13511760

In [110]:
#make list of usgs gauge numbers
list(annual_flow_df.columns)

['Corresponding USGS gauge number',
 '09072500',
 '09095500',
 '09109000',
 '09124700',
 '09127800',
 '09152500',
 '09180000',
 '09180500',
 '09211200',
 '09217000',
 '09234500',
 '09251000',
 '09260000',
 '09302000',
 '09306500',
 '09315000',
 '09328500',
 '09355500',
 '09379500',
 '09380000',
 '09382000',
 '09402000',
 '09402500',
 '09415000',
 '09421500',
 '09423000',
 '09426000',
 '09427520',
 '09429490']

### Extract Gauges of choice via gauge number 
- Green River near Green River, WY [gauge # 09217000]
- Green River near Green River, UT [gauge # 09315000] 
- Colorado River at Glenwood Springs, CO [gauge # 09072500] 
- Gunnison River near Grand Junction, CO [gauge # 09152500] 
- Colorado River near Cisco, UT [gauge # 09180500] 
- Colorado River at Lees Ferry, AZ (Meko) [gauge # 09380000]

In [111]:
gauge_list = ['Corresponding USGS gauge number','09380000','09072500', '09152500', '09180500', '09217000', '09315000']

observed_df = annual_flow_df.loc[:, gauge_list]

In [112]:
#make sure you retrieved the ones you wanted by USGS name
observed_df.head()

,Corresponding USGS gauge number,09380000,09072500,09152500,09180500,09217000,09315000
0,USGS gauge name,"Colorado R At Lees Ferry, AZ","Colorado River At Glenwood Springs, CO","Gunnison River Near Grand Junction, CO",Colorado River Near Cisco UT,"Green R. Nr Green River, WyY","Green River At Green River, UT"
1,Water Year,(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr),(ac-ft/yr)
2,1906,18214678,2704899,2786168,8042414,1619511,6643543
3,1907,21234305,3105421,2888906,8551631,2145843,9297303
4,1908,11773952,1705109,1662635,5191180,1267635,4734316

### Get rid of USGS gauge name and Water Year Column, rename column names

In [113]:
observed_df = observed_df.loc[2:,:]
observed_df = observed_df.rename(columns={"Corresponding USGS gauge number":"Year",
                            "09380000": "LF Obs", 
                            "09072500":"Glenwood Obs", 
                            "09152500":"Gunnison Obs",
                            "09180500":"Cisco Obs",
                            "09217000":"GreenWY Obs",
                            "09315000":"GreenUT Obs"})

### Save as csv file

In [114]:
observed_df.to_csv('./MultiObserved_data.csv', index=False)